@page
@model DigitalMatter.Pages.Devices.DeleteModel
@{
}

<br>
<h3>Are you sure you want to delete Node with ID @Model.delete_id?</h3>

<p>All devices from Node @Model.delete_id will be moved to Node with ID @Model.parent_id .<br>
    The children of this node will now point to Node @Model.parent_id .
</p>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-3 d-grid">
        <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
    <div class="col-sm-3 d-grid">
        <a class="btn btn-outline-primary" href="/" role="button">Back</a>
    </div>
</div>

</form>